<div class="col-lg-8 border m-auto">
    <div class="border" style="background-color: gray;">
        <h5 class="m-3">Add Form</h5>
    </div>

    <form [formGroup]="customerForm" (ngSubmit)="addCustomer()" class="m-3">
        <div class="row">
            <div class="mb-3 col-lg-6">
                <label class="form-label">First Name</label>
                <input type="text" class="form-control" [value]="customer?.firstName" formControlName="firstName">
                <div *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)" class="alert alert-danger">

                    <div *ngIf="firstName?.errors?.required">
                        This feld is required.
                    </div>
                    <div *ngIf="firstName?.errors?.minlength">
                        This feld must be at least 3 characters long.
                    </div>

                </div>
            </div>
            <div class="mb-3 col-lg-6">
                <label class="form-label">Last Name</label>
                <input type="text" class="form-control" [value]="customer?.lastName" formControlName="lastName">
                <div *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)" class="alert alert-danger">

                    <div *ngIf="lastName?.errors?.required">
                        This feld is required.
                    </div>

                    <div *ngIf="lastName?.errors?.minlength">
                        This feld must be at least 3 characters long.
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="mb-3 col-lg-6">
                <label class="form-label">Address</label>
                <input type="text" class="form-control" [value]="customer?.address" formControlName="address">
                <div *ngIf="address?.invalid && (address?.dirty || address?.touched)" class="alert alert-danger">

                    <div *ngIf="address?.errors?.required">
                        This feld is required.
                    </div>

                    <div *ngIf="address?.errors?.minlength">
                        This feld must be at least 10 characters long.
                    </div>

                    <div *ngIf="address?.errors?.maxlength">
                        This feld must be at least 500 characters long.
                    </div>

                </div>
            </div>
            <div class="mb-3 col-lg-6">
                <label class="form-label">City</label>
                <input type="text" class="form-control" [value]="customer?.city" formControlName="city">
                <div *ngIf="city?.invalid && (city?.dirty || city?.touched)" class="alert alert-danger">

                    <div *ngIf="city?.errors?.required">
                        This feld is required.
                    </div>

                    <div *ngIf="city?.errors?.minlength">
                        This feld must be at least 3 characters long.
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="mb-3 col-lg-6">
                <label class="form-label">Avatar</label>
                <input type="text" class="form-control" [value]="customer?.avatar" formControlName="avatar">
                <div *ngIf="avatar?.invalid && (avatar?.dirty || avatar?.touched)" class="alert alert-danger">

                    <div *ngIf="avatar?.errors?.required">
                        This feld is required.
                    </div>

                </div>
            </div>

            <div class="mb-3 col-lg-6">
                <label class="form-label">Age</label>
                <input type="number" class="form-control" [value]="customer?.age" formControlName="age">
                <div *ngIf="age?.invalid && (age?.dirty || age?.touched)" class="alert alert-danger">

                    <div *ngIf="age?.errors?.required">
                        This feld is required.
                    </div>>

                </div>
            </div>
        </div>

        <div class="row">
            <button type="submit" class="btn btn-primary col-lg-1  m-auto" [disabled]="customerForm.invalid">Add</button>
        </div>


    </form>
</div>