<div class="container">
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" [routerLink]="['/home']">Customer Manager</a>
            <form class="d-flex">
                <button class="btn btn-primary" type="button" [routerLink]="['/add']">Add Customer</button>
            </form>
        </div>
    </nav>
    <router-outlet></router-outlet>
</div>