<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Avatar</th>
            <th>Adress</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let item of customers;let i = index">
            <td>{{i+1}}</td>
            <td>{{item.firstName}} {{item.lastName}} </td>
            <td> <img [src]="item.avatar" alt="" width="50" height="50"></td>
            <td>{{item.address}}</td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <button type="button" class="btn btn-danger" (click)="deleteCustomer(item.id)">Delete</button>
                    <button type="button" class="btn btn-primary" [routerLink]="['/edit',item.id]">Update</button>
                    <button type="button" class="btn btn-success" [routerLink]="['/detail',item.id]">ViewDetail</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>