<h3>Edit Form</h3>
<form [formGroup]="customerForm" (ngSubmit)="Update()">
    <div class="mb-3">
        <label class="form-label">First Name</label>
        <input type="text" class="form-control" [value]="customer?.firstName" formControlName="firstName">
        <div *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)" class="alert alert-danger">

            <div *ngIf="firstName?.errors?.required">
                This feld is required.
            </div>
            <div *ngIf="firstName?.errors?.minlength">
                This feld must be at least 3 characters long.
            </div>

        </div>
    </div>
    <div class="mb-3">
        <label class="form-label">Last Name</label>
        <input type="text" class="form-control" [value]="customer?.lastName" formControlName="lastName">
        <div *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)" class="alert alert-danger">

            <div *ngIf="lastName?.errors?.required">
                This feld is required.
            </div>

            <div *ngIf="lastName?.errors?.minlength">
                This feld must be at least 3 characters long.
            </div>

        </div>
    </div>

    <div class="mb-3">
        <label class="form-label">Address</label>
        <input type="text" class="form-control" [value]="customer?.address" formControlName="address">
        <div *ngIf="address?.invalid && (address?.dirty || address?.touched)" class="alert alert-danger">

            <div *ngIf="address?.errors?.required">
                This feld is required.
            </div>

            <div *ngIf="address?.errors?.minlength">
                This feld must be at least 10 characters long.
            </div>

            <div *ngIf="address?.errors?.maxlength">
                This feld must be at least 500 characters long.
            </div>

        </div>
    </div>
    <div class="mb-3">
        <label class="form-label">City</label>
        <input type="text" class="form-control" [value]="customer?.city" formControlName="city">
        <div *ngIf="city?.invalid && (city?.dirty || city?.touched)" class="alert alert-danger">

            <div *ngIf="city?.errors?.required">
                This feld is required.
            </div>

            <div *ngIf="city?.errors?.minlength">
                This feld must be at least 3 characters long.
            </div>

        </div>
    </div>


    <button type="submit" class="btn btn-primary" [disabled]="customerForm.invalid">Update</button>
</form>