<div class="border">
    <div class="border" style="background-color: gray;">
        <h5 class="m-3"> {{customer.firstName}} {{customer.lastName}}</h5>
    </div>

    <div class="row m-1">
        <div class="col-lg-7 fw-bold">
            <p>Age: {{customer.age}}</p>
            <p>Address: {{customer.address}}</p>
            <p>City: {{customer.city}}</p>
        </div>

        <div class="col-lg-5">
            <img [src]="customer.avatar" alt="" width="500" height="500">
        </div>
    </div>


</div>